<ion-content>
	<ion-header-bar align-title="center" class="bar bar-header bar-positive" id="bar">
        <h1 class="title" id="title">Inicio</h1>
     </ion-header-bar>
	<br><br>
			<div class="card">
		  <div class="item item-divider">
		  	Bienvenido a la aplicacion iBiblioteca
		  </div>
		  <div class="item item-text-wrap">
		  	iBiblioteca es una aplicacion desarrollada con Ionic
		  	que permite gestionar una biblioteca de un centro educativo ya seaa desde un celular o computadora.
		  	Para acceder a la biblioteca haz click en el boton:
		  </div>
		   <div class="item item-divider icon-left">
		   <a ui-sref="acceso" class="button button-full ion-university">   Acceso a iBiblioteca</a>
		  </div>
		</div>
		<div class="card">
		  <div class="item item-divider">
		  	Informacion sobre el desarrollador de la aplicacion
		  </div>
		  <div class="item item-text-wrap">
		  	Aplicacion desarrollada por Jose Navarrete
		  </div>
		   <div class="item item-divider icon-left">
		   <a ui-sref="consulta" class="button button-full ion-person">   Ver Informacion</a>
		  </div>
		</div>
</ion-content>